/*  Project 3 Starting CSS */


header, footer {
    padding: 1em;
    color: white;
    background-color: #028ff3;
    clear: left;
    text-align: center;
}

body {
	color: #000000;
	background-color: #e9eef5;
	font-family: Calibri, Arial, sans-serif;
}

.container {
    background-color: white;
}

.jumbotron {
    background-color: #028ff3;
    text-align: center;
}

.btn-default {
    background-color: blue;
    color: white;
}

.button-text {
    color: white;
}

.alert-warning {
    display: inline-block;
}

.program-box a {
    text-decoration:none;
}

.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 10px;
    padding: 15px;
}

@media print {
    .jumbotron {
        display: none;
    }

    footer {
        display: none;
    }
